.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/.idea/inspectionProfiles/Project_Default.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/.gitignore
/.idea/stackflow.iml

.DS_Store
dist
node_modules
.ultra.cache.json

.env.dev
.env